

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.hidden {
	display: none;

}

.hidden Bio {
	display: inline;
	border: 5px solid yellow;
}














